<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <link rel="shortcut icon" href="./favicon.png" type="image/x-icon">
    <title>Tabela de clientes</title>
</head>
<body id="table-page-container">
    <div id="table-container">
        <div id="table-header">
            <h1>Bem vindo(a), <span id="admin-name"></span></h1>
            <button id="create-btn">+ Cadastrar novo cliente </button>
        </div>
        <div id="table-overflow">
            <table>
                <thead>
                    <tr>
                        <th class="th-id">Id</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Senha</th>
                        <th>Telefone</th>
                        <th>Endereço</th>
                        <th>Estado</th>
                        <th>CPF</th>
                        <th>Editar dados</th>
                        <th>Deletar cadastro</th>
                    </tr>
                </thead>
                <tbody id="user-rows">
                </tbody>
            </table>
        </div>
        
    </div>
        <form class="hidden modal-form" id="edit-form">
        <p class="modal-text">Cuidado! Você está editando as informações de um cliente. Prossiga com atenção!</p>
        <input class="modal-input"type="text" value="" placeholder="Nome">
        <input class="modal-input" type="text" value="" placeholder="Sobrenome">
        <input class="modal-input" type="text" value="" placeholder="Telefone">
        <input class="modal-input" type="text" value="" placeholder="CPF">
        <input class="modal-input" type="text" value="" placeholder="Endereço">
        <input class="modal-input" type="text" value="" placeholder="Estado">
        <input class="modal-input" type="email" value="" placeholder="Email">
        <input class="modal-input" type="text" value="" placeholder="Senha">
        <input class="modal-button" type="submit" value="Salvar">
    </form>
    <form class="hidden modal-form" id="create-form">
        <p class="modal-text">Cadastre os dados do novo cliente. Prossiga com atenção!</p>
        <input class="modal-input" type="text" value="" placeholder="Nome">
        <input class="modal-input" type="text" value="" placeholder="Sobrenome">
        <input class="modal-input" type="text" value="" placeholder="Telefone">
        <input class="modal-input" type="text" value="" placeholder="CPF">
        <input class="modal-input" type="text" value="" placeholder="Endereço">
        <input class="modal-input" type="text" value="" placeholder="Estado">
        <input class="modal-input" type="email" value="" placeholder="Email">
        <input class="modal-input" type="text" value="" placeholder="Senha">
        <input class="modal-button" onclick="create(event)" type="button" value="Cadastrar novo usuário">
    </form>
    <script src="./login.js"></script>
    <script src="./crud.js"></script>

</body>
</html>